<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <title>Bring The tech</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <script
      src="https://kit.fontawesome.com/5bae9e23d6.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <a href="/">Bring The Tech</a>
      <div>
        {{#if loggedIn}}
          <button id="logout">logout</button>
          <a href="/"><i class="fa-solid fa-bag-shopping"></i>cart</a>
        {{else}}
          <a href="/login">login</a>
        {{/if}}
      </div>
    </nav>
    <div class="product-list">
      {{{body}}}
    </div>
    <script src="./assets/js/add-cart.js"></script>
    <script src="/assets/js/logout.js"></script>
  </body>
</html>