<h2 class="section-title primary-border">Checkout</h2>
<div>
  {{#each checkout}}
    <div class="product">
      <div class="product-bio">
        <h3>{{inventory_title}}</h3>
        <p class="price">{{inventory_price}}</p>
      </div>
    </div>
  {{/each}}
</div>
<h3 id="total-color">Total: $<span id="total"></span></h3>
<script src="./assets/js/cart-total.js"></script>