<h2 class="section-title primary-border">Checkout</h2>
{{#each Checkout}}
  <div>
    <h3>{{inventory_title}}</h3>
    <p>{{inventory_price}}</p>
  </div>
{{/each}}
<h3>Total: <span id="total"></span></h3>