{{#each items}}
  <div class="product">
    <img src={{image_url}} alt="Product image" />
    <h4>{{title}}</h4>
    <p>{{discription}}</p>
    <p>{{price}}</p>
    <button>Add to cart</button>
  </div>
{{/each}}