<div class="sign-up-form signup-form">
  <h3>Add item to database</h3>
  <p>Thank you for contributing</p>
  <form>
    <input
      type="text"
      placeholder="Product Title"
      id="product-title"
      name="product-title"
      class="form-input"
    />
    <input
      type="text"
      placeholder="Product Discription"
      id="product-discription"
      name="product-discription"
      class="form-input"
    />
    <input
      type="text"
      placeholder="Pruduct Price"
      name="product-price"
      id="product-price"
      class="form-input"
    />
    <input
      type="text"
      placeholder="Image Location"
      name="image-url"
      id="image-url"
      class="form-input"
    />

    <button type="submit" id="add">Add the Tech!</button>
  </form>
</div>
<script src="./assets/js/seedDb.js"></script>